.header-section {
    background: url("../img/splash_main.jpg");
    background-repeat: no-repeat;
    //width: 1418px;
    height: 1054px;
    background-size: auto auto;
    @media screen and (min-width: 320px) and (max-width: 640px) {
        background-size: 129% 100%;
        height: 393px;
    }
}

.name-header {
    font-family: 'Crete Round';
    font-size: 110px;
    font-weight: normal;
    // line-height: 78px;
    color: white;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .name-header {
        font-size: 27px;
    }
}

.s {
    background: url("../img/subhra.png");
    height: 1044px;
    background-repeat: no-repeat;
    //background-size: auto 100%;
    padding-left: 40%;
    display: flex;
    flex-direction: column;
    &__block {
        display: flex;
        flex-direction: column;
        padding-top: 30%;
        margin-left: 60px;
        .title-header {
            font-size: 60px;
            margin-top: 13px;
        }
    }
    @media screen and (min-width: 320px) and (max-width: 640px) {
        height: 400px;
        background-size: 62% 85%;
        .s {
            &__block {
                padding-top: 12%;
                margin-left: 0;
                .title-header {
                    font-size: 14px;
                }
            }
        }
    }
}

.scroll {
    display: flex;
    margin-top: 44px;
    p {
        font-family: Futura;
        font-size: 15px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: end;
        color: #5b5b5b;
        width: 95%;
        margin-right: 10px;
    }
    @media screen and (min-width: 320px) and (max-width: 640px) {
        visibility: hidden;
    }
}