.header-section {
    background: url("../../image/splash_main.jpg");
    background-repeat: no-repeat;
    //width: 1418px;
    height: 1054px;
    background-size: auto auto;
}

.name-header {
    font-family: 'Crete Round';
    font-size: 110px;
    font-weight: normal;
    // line-height: 78px;
    color: white;
}

.sAlphabate {
    background: url("../../image/subhra.png");
    height: 1044px;
    background-repeat: no-repeat;
    //background-size: auto 100%;
    padding-left: 40%;
    display: flex;
    flex-direction: column;
    &__block {
        display: flex;
        flex-direction: column;
        padding-top: 30%;
        margin-left: 60px;
        .title-header {
            font-size: 60px;
            margin-top: 13px;
        }
    }
}

.scroll {
    display: flex;
    margin-top: 44px;
    p {
        font-family: Futura;
        font-size: 15px;
        text-align: end;
        color: #5b5b5b;
        width: 95%;
        margin-right: 10px;
    }
    // &__link{
    // }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
    .header-section {
        background-size: 129% 100%;
        height: 393px;
    }
    .name-header {
        font-size: 27px;
    }
    .sAlphabate {
        height: 400px;
        background-size: 62% 85%;
        &__block {
            padding-top: 12%;
            margin-left: 0;
            .title-header {
                font-size: 14px;
            }
        }
    }
    .scroll {
        visibility: hidden;
    }
}