    .project-section {
        width: 100%;
        padding-top: 42px;
        // padding-left: 20px;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            background: url("../img/splash_project.jpg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.7;
        }
        .title-header {
            margin-left: 30px;
        }
    }
    
    .project {
        display: flex;
        padding-left: 30px;
        &__template--left,
        &__template--right {
            width: 48%;
            display: flex;
            flex-direction: column;
        }
        &__template--left {
            margin-right: 1%;
        }
        &__template--right {
            margin-left: 1%;
            padding-top: 40px;
        }
        &__template {
            margin-bottom: 30px;
        }
        &__header {
            @include project-header;
            -webkit-margin-after: 0;
        }
        &__one {
            background: $gradient, url("../img/projects/pnb_logo.jpg");
            @include project;
        }
        &__two {
            background: $gradient, url("../img/projects/Abn_logo.jpg");
            @include project;
        }
        &__three {
            background: $gradient, url("../img/projects/citi_logo.jpg");
            @include project;
        }
        &__one:hover,
        &__two:hover,
        &__three:hover {
            box-shadow: 0 0 10px 5px rgba(60, 63, 90, 0.897);
            // transform: scale(1.05);
        }
    }
    
    .role__bottom-left {
        font-family: RobotoSlab;
        font-weight: normal;
        font-size: smaller;
        //margin-bottom: 40px;
    }
    
    @media screen and (min-width: 320px) and (max-width: 640px) {
        .project-section {
            padding-top: 0;
            margin-left: 0;
            margin-right: 0;
            // .title-header {
            //     margin-left: 20px;
            // }
            &:before {
                background-size: 337%;
                background-position: center;
            }
        }
        .project {
            display: flex;
            flex-direction: column;
            padding: 0;
            &__template--left,
            &__template--right {
                width: 100%;
                & :nth-of-type(odd) {
                    margin-left: 20px;
                }
            }
            &__template--right {
                margin-left: 0;
                padding-top: 0;
            }
            &__header {
                font-size: 20px;
            }
        }
    }